<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arun.wifiservice">

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application android:label="Arun Wifi Service">
        <service android:name=".WifiService"
            android:exported="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.arun.wifi.CONTROL_SERVICE" />
            </intent-filter>
        </service>
    </application>
</manifest>